
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <h1 class="govuk-heading-l">Dates</h1>

      <p>
        <span class="govuk-!-font-weight-bold">Todays date using date-fns =</span> 
        {# Use the local todayDateFNS which we created in the routes file #}
        {{todayDateFNS}}
      </p>

      <p>
        <span class="govuk-!-font-weight-bold">Todays date using regular js =</span> 
        {# Use the local todayDateJS which we created in the routes file #}
        {{todayDateJS}}
      </p>
    </div>
</div>

{% endblock %}
